@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta);
}

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e7e5e4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d3d1;
}

/* Custom Checkbox */
.custom-checkbox input:checked+div {
  background-color: #7e22ce;
  /* purple-700 */
  border-color: #7e22ce;
}

.custom-checkbox input:checked+div svg {
  display: block;
}